{
  "name": "@devprojex/cli-__PLATFORM__",
  "version": "__VERSION__",
  "description": "DevProjex headless binary for __PLATFORM__.",
  "license": "Apache-2.0",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/Avazbek22/DevProjex.git"
  },
  "os": ["__OS__"],
  "cpu": ["__CPU__"],
  "files": [
    "bin/__BINARY__",
    "LICENSE"
  ],
  "publishConfig": {
    "access": "public"
  }
}
